orca-app/src/main/resources/schema/orca-project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.akirdata.com/orca/orca-project"
	xmlns="http://www.akirdata.com/orca/orca-project" 
	elementFormDefault="qualified">
		
	<xs:complexType name="orca-project-type">
		<xs:sequence>
			<xs:element name="title" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="version" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:element name="orca-project" type="orca-project-type"/>
	
</xs:schema>